body {
    background-color: #1e68ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 150px;
    color: white;
}

.container {
    background: rgba(255,255,255,0.15);
    padding: 30px;
    display: inline-block;
    border-radius: 12px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 120px;
    border: none;
    border-radius: 6px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

#message {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}
