#raetselContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.raetselBox {
  background-color: rgba(50,50,50,0.8);
  padding: 20px;
  border-radius: 10px;
}

.raetselBox input {
  width: 80px;
  padding: 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 16px;
}

.raetselBox button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.resultText {
  margin-top: 10px;
  font-weight: bold;
}
